node_modules
.next
out
dist
.turbo/
.env*
logs
*.log
.vscode/*
!.vscode/extensions.json
coverage
*.bak

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.bak/.turbo/

/.turbo/
/apps/**/.next/
/apps/**/.next/cache
*.tsbuildinfo
